name: Secure Weather App CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18, 20]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Display Node Version
        run: node -v

      - name: Install Dependencies
        run: npm install

      - name: Run Secure Weather App
        run: npm start
        env:
          WEATHER_API_KEY: ${{ secrets.WEATHER_API_KEY }}
